{% extends 'base.html.twig' %}

{% block body %}
    <h1>Team List</h1>
    <div class="btn-block">
        <a href="{{ path('home') }}" class="btn back">Back to Home</a>
    </div>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for team in teams %}
            <tr>
                <td>{{ team.name }}</td>
                <td>
{#                    <a href="#">Edit</a> |#}
                    <a href="{{ path('team_delete', {'id': team.id, 'token': csrf_token('delete' ~ team.id) }) }}" onclick="return confirm('Are you sure you want to delete this team?')">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('team_create') }}" class="btn">Create New Team</a>
{% endblock %}
