{% extends 'base.html.twig' %}

{% block body %}
    <h1>Welcome to Football Tournament Manager</h1>
    <p>Manage your tournaments and teams here.</p>
    <ul class="nav-links">
        <li><a href="{{ path('team_list') }}">List Teams</a></li>
        <li><a href="{{ path('tournaments_list') }}">List Tournaments</a></li>
    </ul>
{% endblock %}
